body{
    bacground: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 47%, rgba(9,18,127,1) 100%, rgba(0,212,255,1) 100%);
}
div{
   
    
    border: 2px double white;
    width: fit-content;
}
#result{
    background: white;
}

button:hover{
    background: blue;
    color: white;

}
h1{
    color: azure;
}
